.container {
  margin-top: 100px;
}

.purchase-card {
  width: 350px;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.26);
  padding: 1em;
}

.show-grid {
  padding-bottom: 1.5em;
}

.item-details-button:focus {
  outline: none;
}

.promo-code-button:focus {
  outline: none;
  text-decoration: none !important;
}

.item-details-button {
  color: #343538;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none !important;
}

.price-strike {
  text-decoration-line: line-through;
  color: grey;
}


.promo-code-button {
  color: #343538;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none !important;
}
